.navbar{
    display: flex;
   justify-content: space-between;
   padding: 1vh 1vh;
   background-color: rgb(81, 148, 211);
   align-items: center;
   color: rgb(0, 0, 0);
}

.App-logo{
    height: 8vh;
    width: 14vh;
    padding-left: 2vh;
}

.imgProfile{
    height: 5vh;
    border-radius: 5vh;
    
    
}

.logoutbtn{
    
    font-size: x-large;
}

.navbarOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    width: 20vh;
}